.article__title {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article__title h2 {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.98px;
    text-align: left;
    color: #211F54;
}


.article__box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 28px;
}

.article__card {
    max-width: 596px;
    width: 100%;
}

.article__card__img {
    z-index: -1;
    position: relative;
}

.article__card__img img {
    width: 100%;
}



.article__card__child {
    background: white;
    z-index: 100;
    margin: -60px 30px 0;
    padding: 52px 49px;
    border-radius: 24px;
    border: 1px solid #EFF0F6
}

.article__card__child h5 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.01px;
    text-align: left;
    color: #211F54;
}

.article__card__child p {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 30.01px;
    text-align: left;
    color: #6E7191;
    margin-top: 17px;
    margin-bottom: 4px;
}

.card__child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__child label {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #211F54;
}

.kvartat {
    width: 50px;
    height: 50px;
    background: #0075FF;
}




@media (max-width:1070px) {
    .article__card__child {
        padding: 30px;
    }

    .article__card__child h5 {
        font-size: 20px;
        line-height: 20px;
    }

    .article__card__child p {
        font-size: 16px;
        line-height: normal;
    }

    .kvartat {
        width: 30px;
        height: 30px;
    }
}


@media (max-width:960px) {
    .article__title {
        display: grid;
        justify-content: center;
    }

    .article__title div {
        margin-top: 25px;
        justify-content: space-between;
    }
}

@media (max-width:780px) {
    .article__box {
        display: grid;
    }

    .article__card__child {
        padding: 50px;
    }

    .article__card__child h5 {
        font-size: 30px;
        line-height: 30px;
    }

    .article__card__child p {
        font-size: 25px;
        line-height: normal;
    }

}

@media (max-width:570px) {

    .article__title h2 {
        font-size: 35px;
    }

    .article__title .about__exp__btn {
        margin-left: 10px;
    }

    .article__title button {
        padding: 15px 18px;
        font-size: 15px;
    }

    .article__card__child {
        padding: 35px;
    }

    .article__card__child h5 {
        font-size: 25px;
        line-height: 25px;
    }

    .article__card__child p {
        font-size: 16px;
        line-height: normal;
    }
}

@media (max-width:450px) {
    .article__card__child {
        padding: 25px;
    }

    .article__card__child h5 {
        font-size: 18px;
        line-height: 18px;
    }

    .article__card__child p {
        font-size: 12px;
        line-height: normal;
    }
}