.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero__left {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.hero__title {
    font-family: Roboto;
    font-size: 68px;
    font-weight: 700;
    line-height: 73.98px;
    text-align: left;
    color: #211f54;
}

.hero__about {
    font-family: Roboto;
    font-size: 21px;
    font-weight: 400;
    line-height: 30.01px;
    text-align: left;
    color: #6E7191;
}

.hero__box {
    display: flex;
    gap: 28px;
    align-items: center;
}

.hero__btn {
    padding: 17px 24px;
    border: none;
    background: #0075FF;
    border-radius: 14px;

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: white;
}

.hero__contact__card {
    display: flex;
    gap: 16.5px;
    align-items: center;
}

.hero__phone__img {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #DCDDEB
}


.hero__contact label {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1.600000023841858px;
    text-align: left;
    color: #6E7191;
}

.hero__contact p {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    line-height: 36.01px;
    text-align: left;
    color: #211f54
}





















.hero__reight img {
    width: 100%;
}




@media (max-width:980px) {
    .hero {
        display: block;
    }

    .hero__left {
        margin-bottom: 50px;
    }
}

@media (max-width:700px) {
    .hero__left h1 {
        font-size: 45px;
    }
}



@media (max-width:550px) {
    .hero__box {
        display: block;
    }

    .hero__box .hero__contact__card {
        margin-top: 15px;
    }
}