.container {
    max-width: 1220px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

section {
    margin-top: 155px;
}





.about__get__btn {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding: 26px 38px;
    border-radius: 14px;
    background: #0075FF;
    color: white;
    border: none;
}

.about__exp__btn {
    margin-left: 28px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding: 26px 38px;
    border-radius: 14px;
    border: 1px solid #EFF0F6;
    background: #FFFFFF;
}